.text-recover {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #131336;
}

.text-put {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #131336;
}

.lbl-mail {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #9194A7;
}

.input-recover {
    display: block;
    width: 100%;
    border: 1px solid #E4E5ED;
    border-radius: 4px;
    margin: 8px 0 8px 0px;
    outline: none;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Axiforma Book';
    font-size: 14px;
    color: #9194A7;
    line-height: 18px;
    letter-spacing: 0.015em;
    height: 48px;
}

.btn-enter {
    margin: 24px 0px 24px 0px;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    font-family: 'Axiforma Medium';
    color: #fff;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    background: #00B0CA;
    border: 1px solid #00B0CA;
}

.text-footer {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 70px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    color: #131336;
}

.content_form_white {
    max-width: 38%;
    height: 100%;
    display: table;
    margin: 0px auto;
}

::placeholder {
    color: #9194A7;
}

.form-confirm{
    text-align: -webkit-center;
}

.subTitle_14 {
    color: #131336;
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.015em;
    width: 345px;
    height: 36px;
}

.body_2_success {
    color: #131336;
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.015em;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
}

.body_2_success_subtitle {
    font-size: 12px;
    color: #9194A7;
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.015em;
    margin-bottom: 0px;
    line-height: 18px;
}

.img-success {
    width: 224px;
    height: 224px;
}

.subTitle_18 {
    color: #131336;
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    padding-bottom: 8px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.body_2_success a {
    font-weight: bold;
}

.logo {
    /*   margin-top: 35%; */
}

.logo-auna-sea-pb {
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo-auna-success-pb {
    padding-bottom: 74px;
}

.space-beetween {
    /*margin-top: 24px;*/
    color: #131336;
}

.subTitle_5 {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    color: #9194A7;
}

.subtitle_11 {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #9194A7;
    margin-top: 20px;
}

.subtitle_17 {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #00B0CA;
    margin-top: 20px;
    cursor: pointer;
}

.image-icon-right{
    margin-left: 2%;
}

.image-icon-center{
    margin-left: 70%;
}

.btn-recover-password {
    width: 50%;
    /*margin-top: 64px!important;*/
}

.btn-cnfm {
    margin: 28px 0px 28px 0px;
    padding: 14px 20px 14px 20px;
    border-radius: 40px;
    font-family: 'Axiforma Medium';
    color: #fff;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    background: #00B0CA;
    border: 0px;
    outline: none;
}

.btn-cnfm:hover {
    background: #0BC1DC;
    color: #fff;
    border: 0px;
    outline: none;
}

.btn-cnfm:active {
    background: #029FB7;
    color: #fff;
    border: 0px;
    outline: none;
}

input[type="button"].btn-cnfm:disabled {
    color: #B8BCD5;
    background: #F1F2F7;
    border: 1px solid #F1F2F7;
    border: 0px;
    outline: none;
}

.line-height {
    line-height: 30px;
    padding-bottom: 18px!important;
}

.mt-img-success {
    margin-top: 32px;
}

.vh-100{
    text-align: -webkit-center;
}


@media (max-width: 320px) {
    .logo-auna-success-pb {
        padding-bottom: 52px;
    }
    .body_2_success {
        font-weight: 350;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 16px;
    }
    .body_2_success_subtitle {
        font-weight: 350;
        font-size: 14px;
        line-height: 21px;
    }
    .line-height {
        line-height: 22px;
        padding-bottom: 16px!important;
    }
    .img-success {
        width: 148px;
        height: 148px;
    }
    .btn-recover-aceptar {
        width: 100%;
        margin-top: 64px!important;
    }
    .space-beetween {
        /*margin-top: 27px;*/
    }
    .logo-auna-sea-pb {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .content_form_white {
        max-width: 38%;
    }

    .container {
        max-width: 100%;
    }

    .content_login .content_login_left {
        display: none;
    }
    .logo {
        width: 45%;
        margin-top: 0%;
    }
    .content_login .content_login_right {
        width: 100%;
    }
    .div-subtitulo-login-1 {
        padding-bottom: 24px;
    }
    .subTitle_18 {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 24px;
    }
    .subTitle_14 {
        width: 220px;
        padding-bottom: 30px;
    }

    .btn-recover-password {
        width: 88%;
        /*margin-top: 64px!important;*/
    }

    .subTitle_5{
        width: 220px;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .logo-auna-success-pb {
        padding-bottom: 52px;
    }
    .body_2_success {
        font-weight: 350;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 16px;
    }
    .body_2_success_subtitle {
        font-weight: 350;
        font-size: 14px;
        line-height: 21px;
    }
    .line-height {
        line-height: 22px;
        padding-bottom: 16px!important;
    }
    .img-success {
        width: 148px;
        height: 148px;
    }
    .btn-recover-aceptar {
        width: 100%;
        margin-top: 64px!important;
    }
    .space-beetween {
        /*margin-top: 27px;*/
    }
    .logo-auna-sea-pb {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .content_form_white {
        max-width: 95%;
    }

    .subTitle_18 {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 24px;
    }
    .subTitle_14 {
        width: 220px;
        padding-bottom: 30px;
    }

    .btn-recover-password {
        width: 90%;
        /*margin-top: 64px!important;*/
    }

    .subTitle_5{
        width: 220px;
    }
}

@media (min-width: 361px) and (max-width: 575px) {
    .content_form_white {
        max-width: 38%;
    }

    .logo {
        margin-top: 0%;
    }
    .subTitle_18 {
        font-size: 14px;
    }
    .subTitle_14 {
        font-size: 14px;
        width: 220px;
    }

    .btn-recover-password {
        width: 55%;
        /*margin-top: 64px!important;*/
    }

    .subTitle_5{
        width: 220px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content_form_white {
        max-width: 38%;
    }

    .subTitle_18 {
        font-size: 14px;
    }
    .subTitle_14 {
        font-size: 14px;
        width: 340px;
    }

    .logo {
        margin-top: 0%;
    }

    .btn-recover-password {
        width: 46%;
        /*margin-top: 64px!important;*/
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content_form_white {
        max-width: 38%;
    }

    .subTitle_14 {
        font-size: 14px;
    }
    .logo {
        margin-top: 0%;
    }

    .btn-recover-password {
        width: 36%;
        /*margin-top: 64px!important;*/
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .btn-recover-password {
        width: 28%;
        /*margin-top: 64px!important;*/
    }
}

@media (min-width: 1200px) {}
