.text-recover {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #131336;
}

.text-put {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #131336;
}

.lbl-mail {
    font-family: 'Axiforma Light';
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #9194A7;
}

.input-recover {
    display: block;
    width: 100%;
    border: 1px solid #E4E5ED;
    border-radius: 4px;
    margin: 8px 0 8px 0px;
    outline: none;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Axiforma Book';
    font-size: 14px;
    color: #9194A7;
    line-height: 18px;
    letter-spacing: 0.015em;
    height: 48px;
}

.btn-enter {
    margin: 24px 0px 24px 0px;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    font-family: 'Axiforma Medium';
    color: #fff;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    background: #00B0CA;
    border: 1px solid #00B0CA;
}

.text-footer {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 70px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    color: #131336;
}

::placeholder {
    color: #9194A7;
}

.logo {
    margin-top: 27%;
}

@media (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .logo {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 55%;
    }
}
