html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.content_login {
    width: 100%;
}

.img_login {
    max-width: 100%;
    max-height: 100%;
    width: 67%;
    margin: 0px auto;
    display: table-cell;
    padding-top: 5%;
}

.content_login .content_login_left {
    display: block;
    float: left;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #00B0CA;
}

.content_login .content_login_right {
    display: block;
    float: right;
    width: 50%;
    position: relative;
    top: 0;
    bottom: 0;
}

.logo {
    /* margin-top: 27%; 
    margin-top: 35%;*/
}

::placeholder {
    color: #9194A7;
}

.content_form {
    width: 360px;
    height: 100%;
    display: table;
    margin: 0px auto;
}

.subTitle5 {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.015em;
}

.row-middle {
    vertical-align: middle;
    height: 100%;
    display: table-cell;
}

.form-group {
    margin-bottom: 24px!important;
}

.title-login-1 {
    position: absolute;
    left: 60px;
    top: 260px;
    color: #fff;
    padding-left: 36px;
}

.subtitle-login-1 {
    position: absolute;
    left: 60px;
    /*top: 340px;*/
    color: #fff;
    width: 440px;
    border: 3px solid #fff;
    /* border-radius: 50px; */
    padding-left: 30px;
    border-left: 3px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fff;
    padding-bottom: 26px;
    border-bottom-left-radius: 50px 50px;
    border-top: 0px;
    border-right: 0px;
    bottom: 30px;
}

.div-subtitulo-login-1 {
    margin-bottom: 15%;
}

@media (max-width: 575px) {
    .content_form {
        width: 100%;
    }
    .div-subtitulo-login-1 {
        margin-top: 0%;
    }
    .content_login .content_login_left {
        display: none;
    }
    .logo {
        width: 45%;
        margin-top: 0%;
    }
    .content_login .content_login_right {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .content_form {
        width: 100%;
    }
    .div-subtitulo-login-1 {
        margin-top: 0%;
    }
    .content_login .content_login_left {
        display: none;
    }
    .logo {
        width: 45%;
        margin-top: 0%;
    }
    .content_login .content_login_right {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .div-subtitulo-login-1 {
        margin-top: 0%;
    }
    .content_login .content_login_left {
        display: none;
    }
    .content_login .content_login_right {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .div-subtitulo-login-1 {
        margin-bottom: 15%;
    }
    .content_login .content_login_left {
        display: block;
    }
    .content_login .content_login_right {
        width: 50%;
        float: right;
    }
}

@media (min-width: 1200px) {
    .div-subtitulo-login-1 {
        margin-bottom: 15%;
    }
    .content_login .content_login_left {
        display: block;
    }
    .content_login .content_login_right {
        width: 50%;
        float: right;
    }
}