.subtitle-login {
    font-family: 'Axiforma Book';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0px;
}

.div-parrafo-login-1 {
    width: 40%;
    display: block;
    float: left;
}

.div-parrafo-login-2 {
    width: 60%;
    display: block;
    float: right;
    text-align: right;
}

.position-fixed {
    position: fixed;
}

.left-64px {
    left: 64px;
}

.position-relative {
    position: relative;
}

.width-100 {
    width: 100%;
}

.font-size24 {
    font-size: 24px;
}

.font-size14 {
    font-size: 14px;
}